[submodule "src/gamingdatademo"]
	path = src/gamingdatademo
	url = git@github.com:joeholley/gamingdatademo.git
	branch = joeholley
[submodule "src/retail-data-and-ai-demo"]
	path = src/retail-data-and-ai-demo
	url = git@github.com:joeholley/retail-data-and-ai-demo.git
	branch = games
[submodule "src/agents"]
	path = src/agents
	url = git@github.com:joeholley/agents.git
